h1,h2,h3,p {
    color: #000000;
}

.text-default {
    color: #000000;
}

.text-default-alt {
    color: #EEEEEE;
}

.bg-default {
    background-color: #EEEEEE;
}

.bottle-background {
    background-color: #CCCCCC;
    margin: 5px 5px 5px 0px;
    padding: 10px;
    min-width: 200px;
    width: 100%;
    border-radius: 0 15px 15px 0;
  }

  .bottle-card :hover {
    background-color: #AAAAAA;
  }

  .sidebar-text {
    color: black;
  }

  .sidebar-link {
    color: black;
  }

  .sidebar-link:hover, .sidebar-link:active {
    text-decoration: none;
    color: black; 
  }

  .sidebar-bg {
    background-color: #BBBBBB;
  }

  .active-bg {
    background-color: #540000 !important;
  }

  .content-bg {
    background-color: #EEEEEE;
  }

.header-bg-color {
    background-color: #540000;
}
.btn-primary {
    color: #fff;
    background-color: #540000;
    border-color: #540000; 
    width: 90%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #742f2f;
    border-color: #742f2f; /*set the color you want here*/
}

.divider {
    color: #fff;
    border-radius: 10px;
    text-align: left;
    padding: 4px 0px 4px 15px;
    margin: 20px 20px 0px 20px;
    font-weight: bold;
}

.input-color {
    background-color: white;
}
